@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1663072686280') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wuwangluo:before {
  content: "\e601";
}
.icon-dianzan2:before {
  content: "\e602";
}
.icon-shouye:before {
  content: "\e603";
}
.icon-yuedu:before {
  content: "\e604";
}
.icon-gengduo:before {
  content: "\e605";
}
.icon-shouye1:before {
  content: "\e606";
}
.icon-sousuo:before {
  content: "\e607";
}
.icon-shanchu:before {
  content: "\e608";
}
.icon-shouji:before {
  content: "\e609";
}
.icon-lishi:before {
  content: "\e60a";
}
.icon-pinglun:before {
  content: "\e60b";
}
.icon-fenxiang:before {
  content: "\e60c";
}
.icon-yanzhengma:before {
  content: "\e60d";
}
.icon-wuwangluo1:before {
  content: "\e60e";
}
.icon-wode:before {
  content: "\e60f";
}
.icon-zuojiantou:before {
  content: "\e610";
}
.icon-shoucang:before {
  content: "\e611";
}
.icon-youjiantou:before {
  content: "\e612";
}
.icon-shipin:before {
  content: "\e613";
}
.icon-dianzan21:before {
  content: "\e614";
}
.icon-wenda:before {
  content: "\e615";
}
.icon-guanbi:before {
  content: "\e616";
}
.icon-dianzan:before {
  content: "\e617";
}
.icon-zuopin:before {
  content: "\e618";
}
.icon-yuedu1:before {
  content: "\e619";
}
